# Authentik's Postgres backend. Not exposed outside homelab.network.

[Unit]
Description=Postgres (Authentik backend)
After=network-online.target

[Container]
Image=docker.io/library/postgres:16-alpine
ContainerName=postgres
Network=homelab.network
Volume=/var/mnt/tank/appdata/authentik-postgres:/var/lib/postgresql/data
EnvironmentFile=/var/mnt/tank/appdata/secrets/authentik.env

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
