[Unit]
Description=Prowlarr
After=network-online.target

[Container]
Image=lscr.io/linuxserver/prowlarr:latest
ContainerName=prowlarr
Network=homelab.network
PublishPort=9696:9696
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Volume=/var/mnt/tank/appdata/prowlarr:/config

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
