[Unit]
Description=qBittorrent
After=network-online.target

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
ContainerName=qbittorrent
Network=homelab.network
PublishPort=8080:8080
PublishPort=6881:6881
PublishPort=6881:6881/udp
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Environment=WEBUI_PORT=8080
Volume=/var/mnt/tank/appdata/qbittorrent:/config
Volume=/var/mnt/tank/downloads:/downloads

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
