[Unit]
Description=Radarr
After=network-online.target

[Container]
Image=lscr.io/linuxserver/radarr:latest
ContainerName=radarr
Network=homelab.network
PublishPort=7878:7878
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Volume=/var/mnt/tank/appdata/radarr:/config
Volume=/var/mnt/tank/media:/media
Volume=/var/mnt/tank/downloads:/downloads

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
