[Unit]
Description=Sonarr
After=network-online.target

[Container]
Image=lscr.io/linuxserver/sonarr:latest
ContainerName=sonarr
Network=homelab.network
PublishPort=8989:8989
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
Volume=/var/mnt/tank/appdata/sonarr:/config
Volume=/var/mnt/tank/media:/media
Volume=/var/mnt/tank/downloads:/downloads

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
