[Desktop Entry]
Type=Application
Version=1.0
Name=Install homelab-os
GenericName=System Installer
TryExec=calamares
Exec=sh -c "pkexec calamares"
Comment=Install homelab-os to this machine
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
