[Desktop Entry]
Type=Application
Name=Sonarr
Comment=TV show management
Exec=falkon http://localhost:8989
Icon=applications-internet
Categories=Network;
Terminal=false
